/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.mntc-logo{
	width: 150px;
   height: 30px;
   margin: 0 0 0 80%;
}

.event_below{
	font-size: 1.3em;
}

.heading_top{
	margin: 60px 0px 0px 0px;
}

.event_line{
	margin-top: -33px;
}

.event_head{
	margin: 4% 0px 0px 38%;
}
.event_cont{
	margin: 1% 1% 0px 38%;
   font-size: 1.3em;
   text-align: left;

}

.bottom{
	margin-bottom: 110px;
}

.h_sponser{
	color: white;
}

.heading_register{
	color: white;
	margin-top: 0px;
	padding-top: 2%;
}

.about-wrapper{
	margin-top: 4%;
}



