/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.mntc-logo{
   height: 30px;
}

.event_below{
	font-size: 1.3em;
	margin: 1% 2% 1% 2%;
}

.heading_top{
	margin: 2.7% 0px 0px 0px;
}

.event_line{
	margin-top: -33px;
}

.event_head{
	margin: 4% 0px 0px 38%;
	font-family: 'PT Sans', sans-serif;
}
.event_cont{
	margin: 1% 4% 0% 38%;
   font-size: 1.3em;
   text-align: justify;
   font-family: 'Ubuntu', sans-serif;

}

.p_team{
	margin: 0% 2% 0% 2%;
}

.bottom{
	margin-bottom: 110px;
}

.h_sponser{
	color: white;
}

.heading_register{
	color: white;
	margin-top: 0px;
	padding-top: 2%;
}

.heading_about{
	padding-top: 2%;
}

.about-wrapper{
	margin-top: 1%;
}
.register_line{
	margin: -3% 0 0.8% -0.5%;
}

#error_explanation{
	font-size: 1em;
}
.error_exp{
	color:black !important;
	    list-style-type: none;
}

#user-widget{
	margin: -9.2% 0 3% 27%;
}

#sign_in{
padding: 2.9% 8%;
}

.face-button{
	margin-left: 26%;
}

.admin-log{
	width:1.5%;
	float: right;
}

.login-tab{
   margin: 7% 0 0 22%;
}

.gap{
   padding-left: 7%;
}

.fb-sign:hover{
	text-decoration: none;
    color: white;
}







